* {
    font-family: "Lucida Console";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header Stuff */
.header {
    background-color: #987654;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    flex-shrink: 0;
    width: 70px;
    margin: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: white;
    margin: 16px;
}

/* Intro Stuff */
.intro {
    background-color: #987654;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.first {
    max-width: 400px;
    height: auto;
    margin: 16px;
    border: solid #5C4033 8px;
}

.left-items {
    color: white;
}

h1 {
    font-size: 48px;
    margin: 8px;
}

p {
    font-size: 18px;
    max-width: 400px;
    margin: 8px;
}

.sign-up {
    background-color: #5C4033;
    color: white;
    padding: 16px;
    border: none;
    margin: 8px;
    border-radius: 20%;
}